@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override base SVG style to work with Ant Design if using external icon sets */
svg {
  vertical-align: initial;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../public/Neon cafe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
}

.ant-checkbox .ant-checkbox-inner {
  background-color: transparent;
}

.ant-input {
  @apply text-gray-300 border-gray-300
}

.ant-select-selection-item {
  @apply text-gray-300;
}

.ant-input::placeholder {
  @apply text-gray-400;
}

.ant-input-outlined {
  @apply bg-transparent hover:bg-transparent focus:bg-transparent;
}

.ant-input-outlined:focus-within {
  @apply bg-transparent
}

.ant-input-affix-wrapper {
  @apply text-gray-300
}

.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title {
  @apply text-gray-300;
}